<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Tecnologias SEDES</title>

  <link rel="icon" href="faviconfd.ico">

  <link rel="stylesheet" href="style.css">

  <script src="https://kit.fontawesome.com/c2eaecad4c.js"></script>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

</head>

<body>



  <div id="preloader">
    <div class="preload-content">
      <div id="original-load"></div>
    </div>
  </div>

  <!-- Início MODAL atividades -->
  <div class="modal fade" id="subsModal" tabindex="-1" role="dialog" aria-labelledby="subsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">



        <article class="container textoModal">

          <h3>ATIVIDADES:</h3><br>

          <img src="Computers-Emoji-Face-Emoticon-Nerd-8bit-Smiley-4846195.png"
            style="display: block; margin-left: auto; margin-right: auto">

          <p class="textoModal" class="textoModal"><b>01</b> - Crie na ÁREA DE TRABALHO uma pasta com o nome
            ATIVIDADES-INTEGRAL.</p>

          <p class="textoModal"><b>02</b> - Diga o que você achou dos combinados e para que eles servem. Depois pense em
            um combinado
            para ser o número 11! (Você pode registrar esta atividade no BLOCO DE NOTAS, ou na "arte" da próxima
            atividade).</p>

          <p class="observacaoModal">*A atividade 02 deve ser salva como "COMBINADOS-SeuNome", na pasta criada na ÁREA
            DE TRABALHO.</p><br>

          <p class="textoModal"><b>03</b> - Faça um desenho no PAINT sobre LABORATÓRIO DE INFORMÁTICA! (Use uma imagem
            da internet e
            inclua uma frase nesta "arte", usando a função "Inserir Caixa de Texto").</p>
          <p class="observacaoModal">*A atividade 03 deve ser salva como "COMBINADOS-PAINT-SeuNome", na pasta criada na
            ÁREA DE TRABALHO.</p>
          <br>

        </article>

      </div>

    </div>
  </div>
  <!-- FIM MODAL atividades -->

  <!-- Início MODAL REGRAS DO LABORATÓRIO-->
  <div class="modal fade" id="regrasModal" tabindex="-1" role="dialog" aria-labelledby="subsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">


        <article class="container textoModal">

          <img src="magalicebolinha.webp"
          style="display: block; margin-left: auto; margin-right: auto">

          <p class="textoModal"><b>01</b> - Ao chegar na sala sente-se e aguarde o(a) professor(a) iniciar a aula, não
            mexa nos
            equipamentos;</p>

          <p class="textoModal"><b>02</b> - Não ligue ou desligue os equipamentos sem EXPRESSA orientação do(a)
            professor(a);</p>

          <p class="textoModal"><b>03</b> - Não consumir produtos alimentícios ou bebidas no laboratório;</p>

          <p class="textoModal"><b>04</b> - Não brinque nas cadeiras giratórias;</p>

          <p class="textoModal"><b>05</b> - Laboratório de informática não é o local destinado para brincadeiras ou
            correria;</p>

          <p class="textoModal"><b>06</b> - Mantenha um tom baixo ao conversar;</p>

          <p class="textoModal"><b>07</b> - O uso do computador é destinado à realização das ATIVIDADES da aula;</p>

          <p class="textoModal"><b>08</b> - O "momento dos jogos e brincadeiras" é destinado aos alunos que realizaram
            as atividades
            propostas.</p>

          <p class="textoModal"><b>09</b> - Se o(a) professor(a) está atendendo um colega, não fique chamando várias
            vezes, aguarde um
            pouco!</p>

          <p class="textoModal"><b>10</b> - Cada aula é planajada com antecedência, não adianta pedir "Aula livre" ou
            "Jogos", se não
            tiver feito as ativades planejadas ou se não for o dia para isso!!! Sempre olhe o CRONOGRAMA da aula.</p>

        </article>
      </div>

    </div>
  </div>
  <!-- FIM MODAL REGRAS -->

  <header class="header-area">

    <div class="top-header">
      <div class="container h-100">
        <div class="row h-100 align-items-center">

          <div class="col-12 col-sm-8">
            <div class="breaking-news-area">
              <div id="breakingNewsTicker" class="ticker">
                <ul>
                  <li><a href="#">Hello World!</a></li>
                  <li><a href="#">Olá Mundo!</a></li>
                  <li><a href="#">Eu <span style="color: red">&#10084</span> minha escola! </a></li>
                  <li><a href="#"> <span style="color: green">&#127808</span> Gentileza gera:
                      GENTILEZA!!!</a></li>
                  <li><a href="#">Eu <span style="color: red">&#10084</span> Tecnologias</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-4">
            <div class="top-social-area">
              <a href="https://www.google.com.br" target="_blank" data-toggle="tooltip" data-placement="bottom"
                title="Google"><i class="fa fa-google" aria-hidden="true"></i></a>
              <a href="https://www.yahoo.com.br" target="_blank" data-toggle="tooltip" data-placement="bottom"
                title="Yahoo"><i class="fa fa-yahoo" aria-hidden="true"></i></a>
              <a href="https://www.bing.com.br" target="_blank" data-toggle="tooltip" data-placement="bottom"
                title="Bing"><i class="fa fa-windows" aria-hidden="true"></i></a>
              <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="TECNOLOGIAS"><i
                  class="fa fa-microchip" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="logo-area text-center">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <a style="text-decoration: none;" href="index.html">
              <p style="font-family: 'Bungee Inline'; font-size: 70px;">TECNOLOGIAS - SEDES</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="original-nav-area" id="stickyNav">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">

          <nav class="classy-navbar justify-content-between">

            <!-- BOTÃO MODAL regras -->
            <div class="botãoModal">
              <a href="#" data-toggle="modal" data-target="#regrasModal">REGRAS DO LABORATÓRIO</a>
            </div>
            <!-- FIM DO BOTÃO MODAL -->

            <!-- BOTÃO MODAL atividades -->
            <div class="botãoModal">
              <a href="#" data-toggle="modal" data-target="#subsModal">ATIVIDADES DO DIA</a>
            </div>
            <!-- FIM DO BOTÃO MODAL -->

            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <div class="classy-menu" id="originalNav">

              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <div>
                <script async src="https://cse.google.com/cse.js?cx=f4637c6e861fb4489">
                </script>
                <div class="gcse-search"></div>
              </div>

            </div>

        </div>
        </nav>
      </div>
    </div>
    </div>
  </header>


  <div class="hero-area">

    <div class="hero-slides owl-carousel">

      <div class="single-hero-slide bg-img" style="background-image: url(b2.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="slide-content text-center">
                <div class="post-tag">
                  <a href="#" data-animation="fadeInUp">BEM VINDA</a>
                </div>
                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="#">Vamos fazer um 2023 MUITO LEGAL e
                    PRODUTIVO?</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="single-hero-slide bg-img" style="background-image: url(b1.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="slide-content text-center">
                <div class="post-tag">
                  <a href="#" data-animation="fadeInUp">BEM VINDO</a>
                </div>
                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="#">Vamos aprender um monte de coisa sobre
                    TECNOLOGIAS?</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="single-hero-slide bg-img" style="background-image: url(b3.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="slide-content text-center">
                <div class="post-tag">
                  <a href="#" data-animation="fadeInUp">BEM VINDOS</a>
                </div>
                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="#">E também, vamos nos divertir e ajudar os
                    colegas?</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="position: relative; overflow: hidden; padding: 16px; margin-top: 30px;">


    <img
      src="fundo-de-tecnologia-de-circuito-com-sistema-de-conexao-de-dados-digitais-de-alta-tecnologia-e-design-eletronico-de-computador.jpeg"
      style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.3;">

    <article style="position: relative; z-index: 2;">

      <h1 style="color: rgb(100, 10, 28); text-align: center;"><i>COMBINADOS DO LABORATÓRIO DE INFORMÁTICA</i></h1>

      <div class="cronograma" style="font-size: small;">

        Cronograma da Aula: <br />

        - Recepção dos Alunos: 10min<br />
        - Leitura dos combinados: 10min<br />
        - Realização das Atividades: 20min<br />
        - Momento de uso livre: 10min<br />
      </div>


      <br>
      <h2 style="text-align: justify; color: rgb(100, 10, 28);">Bem vindos, queridos alunos! O ano de 2023 será um ano
        de muito aprendizado no nosso laboratório: iremos realizar muitas ativiades de pesquisa, debates e práticas para
        alcançar nossos objetivos. Essas regras para o uso do laboratório de informática são importantes para manter um
        ambiente de aprendizagem harmoniozo, seguro e eficiente, além de preservar os equipamentos. Siga-as
        rigorosamente para aproveitar ao máximo sua aula e atividades:</h2>
      <br>

      <div style="text-align: center; font-size: x-large; color: rgb(58, 7, 7);">
        <p style="text-align: center; font-size: x-large; color: rgb(58, 7, 7);"><b>01</b> - Ao chegar na sala sente-se
          e aguarde o(a) professor(a) iniciar a aula, não mexa nos equipamentos;</p>

        <p style="text-align: center; font-size: x-large; color: rgb(58, 7, 7);"><b>02</b> - Não ligue ou desligue os
          equipamentos sem EXPRESSA orientação do(a) professor(a);</p>

        <p style="text-align: center; font-size: x-large; color: rgb(58, 7, 7);"><b>03</b> - Não consumir produtos
          alimentícios ou bebidas no laboratório;</p>

        <p style="text-align: center; font-size: x-large; color: rgb(58, 7, 7);"><b>04</b> - Não brinque nas cadeiras
          giratórias;</p>

        <p style="text-align: center; font-size: x-large; color: rgb(58, 7, 7);"><b>05</b> - Laboratório de informática
          não é o local destinado para brincadeiras ou correria;</p>

        <p style="text-align: center; font-size: x-large; color: rgb(58, 7, 7);"><b>06</b> - Mantenha um tom baixo ao
          conversar;</p>

        <p style="text-align: center; font-size: x-large; color: rgb(58, 7, 7);"><b>07</b> - O uso do computador é
          destinado à realização das ATIVIDADES da aula;</p>

        <p style="text-align: center; font-size: x-large; color: rgb(58, 7, 7);"><b>08</b> - O "momento dos jogos e
          brincadeiras" é destinado aos alunos que realizaram as atividades propostas.</p>

        <p style="text-align: center; font-size: x-large; color: rgb(58, 7, 7);"><b>09</b> - Se o(a) professor(a) está
          atendendo um colega, não fique chamando várias vezes, aguarde um pouco!</p>

        <p style="text-align: center; font-size: x-large; color: rgb(58, 7, 7);"><b>10</b> - Cada aula é planajada com
          antecedência, não adianta pedir "Aula livre" ou "Jogos", se não tiver feito as ativades planejadas ou se não
          for o dia para isso!!! Sempre olhe o CRONOGRAMA da aula.</p>

        <p style="text-align: center; font-size: x-large; color: rgb(58, 7, 7);"><b>11</b> - Pense em um combinado para
          por aqui: ___________________________________________________.</p>

      </div>
    </article>
  </div>

  <div class="blog-wrapper section-padding-100 clearfix">
    <div class="container">
      <div class="row align-items-end">

        <div class="justify-content">
          <div class="single-blog-area clearfix mb-100">

            <div class="single-blog-content">
              <div class="line"></div>
              <a href="#" class="post-tag">INTEGRAL / REGULAR</a>
              <h4><a href="#" class="post-headline justify-content">O que é tecnologia, como surgiu e como funciona?</a></h4>
              <h6> Muito se fala atualmente sobre tecnologia. Sobre como ela está avançando mais a cada dia, como tudo
                está ficando muito mais rápido e, claro, mais “tecnológico”. As novas tecnologias estão ficando cada vez
                mais comuns e importantes em nossas vidas. Mas, algo que pouco se fala é: o que é tecnologia exatamente?
                <img src="robopensando.png" style="width: auto; height: 300px; display: block; margin-right: auto; margin-left: auto;">
                Quando falamos de tecnologia pensamos em nossos celulares, em computadores, robôs e ficção científica.
                Mas tecnologia é só isso?</h6>

              <h6>Não, não é só isso. Se você der uma passada na Wikipédia, você vai descobrir que tecnologia é “o
                conjunto de técnicas, habilidades, métodos e processos usados na produção de bens ou serviços, ou na
                realização de objetivos, como por exemplo em investigações científicas”. Em português, isso quer dizer
                que toda técnica, toda ferramenta, todo procedimento que usamos no dia a dia ou no trabalho é uma
                tecnologia.</h6>
                <div style="margin-left: 100px; margin-right: auto;">
              <img src="bebestec.jfif"> <img src="robosfabricadecarros.jfif" style="margin: 10px;"><img src="datacenter.jfif">
              </div>    
              <h3>Surgimento da tecnologia</h3>
              <h6>Não é de hoje que estamos rodeados pela tecnologia. Ela surgiu lá na pré-história, e foi crucial para
                conseguirmos sobreviver como espécie. Nós seres humanos somos bem frágeis se comparados a outros
                animais: nossa pele é fina, nossos músculos são pequenos, nossos ossos são frágeis e nossas unhas são
                minúsculas.</h6>

                <h6>Porém, desde que nos tornamos Homo sapiens, fomos dotados de duas características que nos permitiram
                modificar a natureza a nosso favor: o polegar opositor e o telencéfalo altamente desenvolvido.</h6>
                <div style="padding: 20px;">
                <img src="artenaspedras.jfif"> <img src="homencavernalascapedra.jfif"> <img src="objetoslascadosempredralancas.jfif"> <img src="familiadascavernas.jfif" style="margin: 10px;"> <img src="homenscavernamanipulampedra.jfif"> <img src="marteloepedra.jpg">
              </div>
                <h6>O telencéfalo é aquela parte maior e enrugada do cérebro, logo acima do cerebelo. É nessa parte que
                acontecem as funções cruciais para a idealização de tecnologias: processamento dos sentidos,
                processamento de linguagem e armazenamento de memória e do aprendizado.</h6>

                <h6>Com isso, pudemos lascar pedras e deixá-las mais afiadas, amarrando elas a cabos para criar lanças e
                facas, para usar no lugar de unhas, e transformar a pele de animais em roupas, que usamos para nos
                aquecer e nos proteger. E graças à linguagem, passamos esse conhecimento de uma geração a outra, e as
                gerações seguintes foram aprimorando o que já existia e descobrindo coisas novas.</h6>

                <h6>Já vimos com mais detalhes o que é tecnologia, e como ela surgiu. Que tal discutirmos um pouco por que e
                como funciona a tecnologia?</h6>

                <h3>Como a tecnologia avança?</h3>
                <h6>Toda tecnologia funciona de uma forma diferente, mas sendo tecnologias, elas têm algumas
                  propriedades comuns. para poderem funcionar e serem usadas, seguem um mesmo processo:</h6>

                <h6>Desenvolvimento: desenvolve-se um protótipo da tecnologia, uma prova de conceito e ela é posta em
                  prática para encontrar resultados iniciais.</h6>

                <h6>Divulgação: a pessoa ou o grupo que criou a tecnologia a divulga para outras pessoas que possam
                  estar interessadas nela, destacando suas vantagens e desvantagens.</h6>

                <h6>Aplicação: ela é posta em prática por diversas pessoas em situações diversas.</h6>

                <h6>Análise: os resultados dessas aplicações são compilados, analisados e, muitas vezes, publicados.
                </h6>

                <h6>Aprimoramento: a partir dessas experiências e seus resultados, são propostas melhorias para ela, ou
                  outras tecnologias são desenvolvidas visando lidar melhor com as limitações descobertas.</h6>

                E esse ciclo se repete para toda tecnologia, seja ela um método, uma invenção ou um produto.
              </h6><br><br>
              <a href="https://idocode.com.br/blog/tecnologia/o-que-e-tecnologia-entenda/" target="_blank" class="botãoModal">Veja a fonte!</a>
            </div>
          </div>
        </div>
<hr>
        <div class="sidebar-widget-area">
          <h5 class="title">Tags</h5>
          <div class="widget-content">
            <ul class="tags">
              <li><a href="#">web</a></li>
              <li><a href="#">tecnologias</a></li>
              <li><a href="#">ensino</a></li>
              <li><a href="#">sedes</a></li>
              <li><a href="#">parcerias</a></li>
              <li><a href="#">maker</a></li>
              <li><a href="#">pesquisa</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <div class="instagram-feed-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="insta-title">
            <h5>Ideias & Momentos</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="instagram-slides owl-carousel">

      <div class="single-insta-feed">
        <img src="8.jpg" alt="">

        <div class="hover-effects">
          <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

      <div class="single-insta-feed">
        <img src="9.jpg" alt="">

        <div class="hover-effects">
          <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

      <div class="single-insta-feed">
        <img src="15.jpg" alt="">

        <div class="hover-effects">
          <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

      <div class="single-insta-feed">
        <img src="12.png" alt="">

        <div class="hover-effects">
          <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

      <div class="single-insta-feed">
        <img src="tiana.jpg" alt="">

        <div class="hover-effects">
          <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

      <div class="single-insta-feed">
        <img src="16.jpg" alt="">

        <div class="hover-effects">
          <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

      <div class="single-insta-feed">
        <img src="14.jpg" alt="">

        <div class="hover-effects">
          <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>


  <footer class="footer-area text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="classy-nav-container breakpoint-off">

            <nav class="classy-navbar justify-content-center">

              <div class="classy-navbar-toggler">
                <span class="navbarToggler"></span>
              </div>

              <div class="classy-menu">

                <div class="classycloseIcon">
                  <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>

              </div>
            </nav>
          </div>

          <div class="footer-social-area mt-30">


            <a href="https://www.google.com.br" target="_blank" data-toggle="tooltip" data-placement="bottom"
              title="Google"><i class="fa fa-google" aria-hidden="true"></i></a>
            <a href="https://www.yahoo.com.br" target="_blank" data-toggle="tooltip" data-placement="bottom"
              title="Yahoo"><i class="fa fa-yahoo" aria-hidden="true"></i></a>
            <a href="https://www.bing.com.br" target="_blank" data-toggle="tooltip" data-placement="bottom"
              title="Bing"><i class="fa fa-windows" aria-hidden="true"></i></a>
            <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="TECNOLOGIAS"><i
                class="fa fa-microchip" aria-hidden="true"></i></a>


          </div>
        </div>
      </div>
    </div>

    <br>

    <div style="font-size:xx-small; margin-bottom: 5px;">

      Copyright &copy;
      <script>document.write(new Date().getFullYear());</script> Direitos livres para fins pedagógicos | Desenvolvido
      com <i class="fa fa-heart-o" aria-hidden="true"></i> por <span>Felipe Daniel - Escola SEDES</span> <br>

    </div>

  </footer>


  <script src="jquery.min.js"></script>

  <script src="popper.min.js"></script>

  <script src="bootstrap.min.js"></script>

  <script src="plugins.js"></script>

  <script src="active.js"></script>

</body>

</html>